[submodule "CherryUSB"]
	path = CherryUSB
	url = git@github.com:sakumisu/CherryUSB.git
[submodule "mcuboot"]
	path = mcuboot
	url = git@github.com:mcu-tools/mcuboot.git
[submodule "drv/nrf5x_drivers/tinyusb"]
	path = drv/nrf5x_drivers/tinyusb
	url = git@github.com:hathach/tinyusb.git
